@import url(https://fonts.googleapis.com/css?family=Open+Sans|Oswald);

#amazingaudioplayer-1 {
	box-sizing: content-box;
}
#amazingaudioplayer-1 div {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;   
}
#amazingaudioplayer-1 .amazingaudioplayer-image {
}
#amazingaudioplayer-1 .amazingaudioplayer-image-clear {
}
#amazingaudioplayer-1 .amazingaudioplayer-text {
}
#amazingaudioplayer-1 .amazingaudioplayer-text-clear {
}
#amazingaudioplayer-1 .amazingaudioplayer-title {
}
#amazingaudioplayer-1 .amazingaudioplayer-title-clear {
}
#amazingaudioplayer-1 .amazingaudioplayer-info {
}
#amazingaudioplayer-1 .amazingaudioplayer-info-clear {
}
#amazingaudioplayer-1 .amazingaudioplayer-bar {
}
#amazingaudioplayer-1 .amazingaudioplayer-bar-buttons-clear {
}
#amazingaudioplayer-1 .amazingaudioplayer-bar-clear {
}
#amazingaudioplayer-1 .amazingaudioplayer-bar-title {
}
#amazingaudioplayer-1 .amazingaudioplayer-playpause {
	position: absolute;
	left: 0%;
	margin-left: 125px;
	top: 180px;
}
#amazingaudioplayer-1 .amazingaudioplayer-play {
	position: relative;
}
#amazingaudioplayer-1 .amazingaudioplayer-pause {
	position: relative;
}
#amazingaudioplayer-1 .amazingaudioplayer-stop {
}
#amazingaudioplayer-1 .amazingaudioplayer-prev {
}
#amazingaudioplayer-1 .amazingaudioplayer-next {
}
#amazingaudioplayer-1 .amazingaudioplayer-loop {
}
#amazingaudioplayer-1 .amazingaudioplayer-progress {
}
#amazingaudioplayer-1 .amazingaudioplayer-progress-loaded {
}
#amazingaudioplayer-1 .amazingaudioplayer-progress-played {
}
#amazingaudioplayer-1 .amazingaudioplayer-time {
}
#amazingaudioplayer-1 .amazingaudioplayer-volume {
}
#amazingaudioplayer-1 .amazingaudioplayer-volume-bar {
}
#amazingaudioplayer-1 .amazingaudioplayer-volume-bar-adjust {
}
#amazingaudioplayer-1 .amazingaudioplayer-volume-bar-adjust-active {
}
#amazingaudioplayer-1 .amazingaudioplayer-tracklist {
}
#amazingaudioplayer-1 .amazingaudioplayer-tracklist-container {
}
#amazingaudioplayer-1 .amazingaudioplayer-tracks-wrapper {
}
#amazingaudioplayer-1 .amazingaudioplayer-tracks {
}
#amazingaudioplayer-1 .amazingaudioplayer-track-item {
}
#amazingaudioplayer-1 .amazingaudioplayer-track-item-active {
}
#amazingaudioplayer-1 .amazingaudioplayer-track-item a {
}
#amazingaudioplayer-1 .amazingaudioplayer-track-item-active a {
}
#amazingaudioplayer-1 .amazingaudioplayer-track-item-duration {
}
#amazingaudioplayer-1 .amazingaudioplayer-tracklist-arrow-prev {
}
#amazingaudioplayer-1 .amazingaudioplayer-tracklist-arrow-next {
}
#amazingaudioplayer-1 .amazingaudioplayer-tracklist-clear {
}